{% extends "layout.html" %}
{% set page_title = '设置' %}
{% set active_nav = 'store' %}

{% block body %}
<section class="container">
  <div class="row">
    <form class="col-md-6"
          action="{{url_for('.update')}}"
          method="POST">
      <div class="form-group">
        <label>Taoke App Key</label>
        <input class="form-control"
               type="text"
               name="taoke_app_key"
               value="{{store.taoke_app_key}}"
               required />
      </div>

      <div class="form-group">
        <label>Taoke App Secret</label>
        <input class="form-control"
               type="text"
               name="taoke_app_secret"
               value="{{store.taoke_app_secret}}"
               required />
      </div>

      <div class="form-group">
        <label>Taoke PID</label>
        <input class="form-control"
               type="text"
               name="pid"
               value="{{store.pid}}"
               required />
      </div>

      <div class="form-group">
        <label>Mini App Id</label>
        <input class="form-control"
               type="text"
               name="mini_app_id"
               value="{{store.mini_app_id}}"
               required />
      </div>

      <div class="form-group">
        <label>活动数量上限</label>
        <input class="form-control"
               type="text"
               name="event_limit"
               value="{{store.event_limit}}"/>
        <p class="help-block">* 1-60，默认6。</p>
      </div>

      <div class="form-group">
        <label>推广数量上限</label>
        <input class="form-control"
               type="text"
               name="promotion_limit"
               value="{{store.promotion_limit}}"/>
        <p class="help-block">* 1-60，默认6。</p>
      </div>

      <div class="form-group">
        <label>首页分类</label>
        <input class="form-control"
               type="text"
               name="cat_ids"
               value="{{store.cat_ids}}"
               maxlength="10" />
        <p class="help-block">
          * 当未选定分类时使用，多个分类半角逗号分隔，最多10个字符，默认为空。
        </p>
      </div>

      <div class="form-group">
        <label>淘口令提示语</label>
        <input class="form-control"
               type="text"
               name="tpwd_msg"
               value="{{store.tpwd_msg}}"/>
      </div>


      <div class="form-group">
        <label>
          <input type="checkbox" {{'checked' if store.allow_tpwd}}
                 name="allow_tpwd"> 开启淘口令?
        </label>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" {{'checked' if store.ssl}}
                 name="ssl"> use SSL?
        </label>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-disk"></span>
            保存
          </button>
        </div>
      </div>
    </form>

  </div>
  <br><br>

</section>

{% endblock %}
