{% extends "layout.html" %}
{% set page_title = '店铺' %}
{% set active_nav = 'store' %}

{% block body %}
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-default"
         href="{{url_for('.index')}}">
        <span class="glyphicon glyphicon-menu-left"></span>
        返回
      </a>
    </div>
  </div>

  <hr>

  <div class="row">
    <form class="col-md-6"
          action="{{url_for('.update', store_id=store._id)}}"
          method="POST">
      <div class="form-group">
        <label>店名</label>
        <input class="form-control"
               type="text"
               name="title"
               value="{{store.title}}"
               required />
      </div>

      <div class="form-group">
        <label>淘客 App Key</label>
        <input class="form-control"
               type="text"
               name="taoke_app_key"
               value="{{store.taoke_app_key}}"
               required />
      </div>

      <div class="form-group">
        <label>淘客 App Secret</label>
        <input class="form-control"
               type="text"
               name="taoke_app_secret"
               value="{{store.taoke_app_secret}}"
               required />
      </div>

      <div class="form-group">
        <label>淘客 PID</label>
        <input class="form-control"
               type="text"
               name="pid"
               value="{{store.pid}}"
               required />
      </div>

      <div class="form-group">
        <label>默认分享图</label>
        <input class="form-control"
               type="text"
               name="splash"
               value="{{store.splash}}"/>
      </div>

      <div class="form-group">
        <label>淘口令提示语</label>
        <input class="form-control"
               type="text"
               name="tpwd_msg"
               value="{{store.tpwd_msg}}"/>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" {{'checked' if store.allow_tpwd}}
                 name="allow_tpwd"> 使用淘口令?
        </label>
      </div>

      <!-- <div class="form-group">
        <label>
          <input type="checkbox" {{'checked' if store.ssl}}
                 name="ssl"> use SSL?
        </label>
      </div> -->

      <div class="form-group">
        <label>
          <input type="checkbox" {{'checked' if store.default}}
                 name="default"> 这是默认店铺?
        </label>
      </div>

      <div class="form-group">
        <label>状态</label><br>
        {% set status_text = {0: '未激活', 1: '激活', 2: '禁用'} %}
        {% for st in [0, 1] %}
        <div class="radio-inline">
          <label>
            <input type="radio"
                   name="status"
                   value="{{st}}"
                   {{'checked' if store.status == st}}>
            {{status_text[st]}}
          </label>
        </div>
        {% endfor %}
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            保存
          </button>
        </div>
        {% if store._id %}
        <div class="col-md-6 text-right">
          <a class="btn btn-danger"
             href="{{url_for('.remove', store_id=store._id)}}">
            <span class="glyphicon glyphicon-trash"></span>
            删除
          </a>
        </div>
        {% endif %}
      </div>
    </form>

  </div>
  <br><br>

</section>

{% endblock %}
