{% extends "layout.html" %}
{% set page_title = '捷径' %}
{% set active_nav = 'shortcut' %}

{% block body %}
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-default"
         href="{{url_for('.index')}}">
        <span class="glyphicon glyphicon-menu-left"></span>
        返回
      </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <form action="{{url_for('.update', shortcut_id=shortcut._id)}}"
            method="POST">

        <div class="form-group">
          <label>路径</label>
          <select name="path"
                  class="form-control"
                  required>
            <option value="">选一个路径</option>
            {% for promo in promotions %}
            <option {{'selected' if shortcut.path == promo.path}}
                    value="{{promo.path}}">
              推广: {{promo.title}}
            </option>
            {% endfor %}
            {% for cate in categories %}
            <option {{'selected' if shortcut.path == cate.path}}
                    value="{{cate.path}}">
              分类: {{cate.title}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>优先级</label>
          <input class="form-control"
                 type="number"
                 name="priority"
                 value="{{shortcut.priority}}"/>
          <p class="help-block">
            * 整数，影响排序，越小越靠前，可以是负数。默认0。
          </p>
        </div>

        <div class="form-group">
          <label>图片地址</label>
          <input class="form-control"
                 type="text"
                 name="src"
                 value="{{shortcut.src}}" />
          <p class="help-block">* 需要直接修改图片地址时才用这里。</p>
        </div>

        <div class="form-group">
          <label>状态</label><br>
          {% set status_text = {0: '未激活', 1: '激活', 2: '禁用'} %}
          {% for st in [0, 1] %}
          <div class="radio-inline">
            <label>
              <input type="radio"
                     name="status"
                     value="{{st}}"
                     {{'checked' if shortcut.status == st}}>
              {{status_text[st]}}
            </label>
          </div>
          {% endfor %}
        </div>

        <div>
          <h5>更新时间时间：</h5>
          <p>
           {{shortcut.updated|dateformat}}
          </p>
        </div>

        <div>
          <h5>创建时间时间：</h5>
          <p>
           {{shortcut.creation|dateformat}}
          </p>
        </div>

        <hr>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-disk"></span>
              保存
            </button>
          </div>
          {% if shortcut._id %}
          <div class="col-md-6 text-right">
            <a class="btn btn-danger"
               href="{{url_for('.remove', shortcut_id=shortcut._id)}}">
              <span class="glyphicon glyphicon-trash"></span>
              删除
            </a>
          </div>
          {% endif %}
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form class="media-uploader"
            action="{{url_for('.upload', shortcut_id=shortcut._id)}}"
            method="POST"
            enctype="multipart/form-data">
        <div class="form-group">
          <label>图片</label>
          <img class="media-preview"
               src="{{shortcut.src|safe_src(shortcut.updated)}}"/>
          <input type="file" name="file" accept="image/png, image/jpeg">
        </div>
        <div class="form-group">
          <button type="submit" style="display:none">Upload</button>
        </div>
      </form>
    </div>

  </div>
  <br><br>

</section>

{% endblock %}
