{% extends "layout.html" %}
{% set page_title = '捷径' %}
{% set active_nav = 'shortcut' %}

{% block body %}

<section class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary"
         href="{{url_for('.create')}}">新建捷径</a>
    </div>
  </div>
</section>

<section class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="25%">Pic.</th>
        <th width="30%">Path</th>
        <th width="15%">创建时间</th>
        <th class="text-center"
            width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for shortcut in shortcuts %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
          <img width="80%" height="60" src="{{shortcut.src}}" />
        </td>
        <td>{{shortcut.path}}</td>
        <td>{{shortcut.creation|dateformat}}</td>
        <td class="text-center">
          <a class="btn {{'btn-success' if shortcut.status
                                        else 'btn-default'}}"
             href="{{url_for('.detail', shortcut_id=shortcut._id)}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
