{% extends "layout.html" %}
{% set page_title = '活动' %}
{% set active_nav = 'activity' %}

{% block body %}

<section class="container">
  <form class="form-inline"
          action="{{url_for('.create')}}"
          method="POST">
    <div class="form-group">
      <input class="form-control"
             type="text"
             name="slug"
             placeholder="Activity slug"
             required />
    </div>
    <button class="btn btn-primary">新建活动</button>
  </form>
</section>

<section class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="15%">Pic.</th>
        <th width="20%">活动名</th>
        <th width="20%">Slug</th>
        <th width="15%">创建时间</th>
        <th class="text-center"
            width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in activities %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
          {% if activity.poster %}
          <img width="60" height="60" src="{{activity.poster}}" />
          {% endif %}
        </td>
        <td>{{activity.title}}</td>
        <td>{{activity.slug}}</td>
        <td>{{activity.creation|dateformat}}</td>
        <td class="text-center">
          <a class="btn {{'btn-success' if activity.status
                                        else 'btn-default'}}"
             href="{{url_for('.detail', activity_id=activity._id)}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
