{% extends "layout.html" %}
{% set page_title = '商品' %}
{% set active_nav = 'commodity' %}

{% block body %}
<section class="container">
  <form class="file-uploader"
        action="{{url_for('.upload')}}"
        method="POST"
        enctype="multipart/form-data">
    <input type="file" name="file" accept=".json">
  </form>
  <div class="row">
    <div class="col-md-8">
      <a class="btn btn-primary file-uploader-btn"
         href="#">
        <span class="glyphicon glyphicon-transfer"></span>
        <span>同步新商品</span>
      </a>
      <a class="btn btn-warning"
         href="{{url_for('.clear')}}">清除过期商品</a>
    </div>
    <div class="col-md-4 text-right">
      <p>
         共有 {{p.count}} 件商品
      </p>
    </div>
  </div>
</section>

<section class="container">
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="15%">Pic.</th>
        <th width="20%">品名</th>
        <th width="20%">Cat ID.</th>
        <th width="15%">创建时间</th>
        <th class="text-center"
            width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for commodity in commodities %}
      <tr>
        <td>{{loop.index}}</td>
        <td>
          <img width="60" height="60" src="{{commodity.src}}" />
        </td>
        <td>
          <a href="{{commodity.click_url}}"
             target="_blank">{{commodity.title}}</a>
        </td>
        <td>{{commodity.cat_ids}}</td>
        <td>{{commodity.creation|dateformat}}</td>
        <td class="text-center">
          <a class="btn btn-warning"
             href="{{url_for('.remove', cmdt_id=commodity._id)}}">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      {% if p.prev %}
      <li class="previous">
        <a href="{{p.prev or '#'}}"><span>&larr;</span> Prev</a>
      </li>
      {% endif %}
      {% if p.next %}
      <li class="next {{'disabled' if not p.next}}">
        <a href="{{p.next or '#'}}">Next <span>&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endblock %}
