{% extends "layout.html" %}
{% set page_title = '帮助' %}
{% set active_nav = 'tips' %}

{% block body %}

<section class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary"
         href="{{url_for('.create')}}">新建帮助</a>
    </div>
  </div>
</section>

<section class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="10%">#</th>
        <th width="20%">Pic.</th>
        <th width="30%">标题</th>
        <th width="20%">创建时间</th>
        <th class="text-center"
            width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for tip in tips %}
      <tr>
        <td>{{loop.index0}}</td>
        <td>
          <img width="60" height="60" src="{{tip.src}}" />
        </td>
        <td>{{tip.title}}</td>
        <td>{{tip.creation|dateformat}}</td>
        <td class="text-center">
          <a class="btn {{'btn-success' if tip.status else 'btn-default'}}"
             href="{{url_for('.detail', tip_id=tip._id)}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
