<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hayangsu Master</title>
  <link rel="shortcut icon"
        href="{{url_for('static', filename='favicon.png')}}">
  <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/style.css')}}">
</head>

{%
  set navs = [
    {'key': 'dashboard', 'url': '/', 'name': '信息板'},
    {'key': 'store', 'url': url_for('store.index'), 'name': '店铺'},
    {'key': 'commodity', 'url': url_for('commodity.index'), 'name': '商品'},
    {'key': 'promotion', 'url': url_for('promotion.index'), 'name': '推广'},
    {'key': 'activity', 'url': url_for('activity.index'), 'name': '活动'},
    {'key': 'category', 'url': url_for('category.index'), 'name': '分类'},
    {'key': 'shortcut', 'url': url_for('shortcut.index'), 'name': '捷径'},
    {'key': 'media', 'url': url_for('media.index'), 'name': '媒体管理'},
    {'key': 'tips', 'url': url_for('tips.index'), 'name': '帮助'},
    {'key': 'logout', 'url': url_for('auth.logout'), 'name': '退出'},
  ]
%}

<body>
  {% block nav %}
  <nav class="container">
    <ul class="nav nav-tabs">
      {% for nav in navs %}
      <li class="{{'active' if active_nav == nav.key}}">
        <a href="{{nav.url}}">{{nav.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endblock %}

  {% if page_title %}
  <header class="container">
    <h1>{{page_title}}</h1>
  </header>
  {% endif %}

  <section class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for status, message in messages %}
        {% set alert_type = 'info' if status != 'error' else 'danger' %}
        <div class="alert alert-{{alert_type}}" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </section>

  {% block body %}
  {% endblock %}

<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/bootstrap.min.js')}}"></script>
{% block scripts %}
{% endblock %}

<script>
  $('.media-uploader').each(function(e){
    var $self = $(this);
    var $preview = $self.find('.media-preview');
    var $button = $self.find('button[type=submit]')
    $(this).find('input[type="file"]').change(function(e) {
      file = (this.files && this.files[0]) ? this.files[0] : null;
      if (!file) {
        $preview.attr('src', '#');
        $button.hide();
        return
      }
      var reader = new FileReader();
      reader.onloadend = function() {
        $preview.attr('src', reader.result);
      }
      reader.readAsDataURL(file);
      $button.show();
    });
  });

  $('.file-uploader input[type="file"]').on('change', function(e){
    target = e.currentTarget || e.target;
    file = (this.files && this.files[0]) ? this.files[0] : null;
    if (file && target && target.value) {
      $('.file-uploader').submit();
    }
  });

  $('.file-uploader-btn').on('click', function(e){
    activity_slug = $(this).attr('activity') || '';
    field_activity = document.querySelector(
        '.file-uploader input[name="activity"]');
    field_activity.value = activity_slug;

    file_input = document.querySelector(
      '.file-uploader input[type="file"]');
    if (file_input) {
      file_input.click();
    }
    return;
  });

</script>

</body>